
body {
background-image: url('backgroundnew.jpg');
background-size: cover;
background-position: center;
position: relative;
}
.navbar{
	background: #00B2B2;
}

.navbar-brand{
	color: white;
}
.page-footer {
	
 background-color: #A9A9A9;
 color: #ccc;
 padding: 20px 0 10px 0;

}
.page-footer .container .row
{
	height: 100px;
}
.footer-copyright {
 color: #666;
 padding: 10px 0;

}

.head{
	margin: 30px 0 30px 0;
}
.head h1{
	font-size: 50px;
	/*color:linear-gradient(to top, #0250c5 0%, #d43f8d 100%);*/
	//color:gradient(15deg, #13547a 0%, #80d0c7 100%);
	text-align: center;
	font-weight: 22px;
	background-image: -webkit-linear-gradient(left, #33DDFF , #005566);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}